.container {
  display: flex;
  justify-content: space-between;
}

.products {
  width: 70%;
}

.cart {
  width: 30%;
  position: sticky; /* Fixiert die Position */
  top: 20px; /* Abstand vom oberen Rand */
  align-self: flex-start; /* Stellt sicher, dass der Einkaufswagen oben bleibt */
}
