
.imageContainer {
    position: relative;
    width: 100%;
    height: auto;
}

.card {
    border: 1px solid #ddd; /* Fügt einen subtilen Rahmen hinzu */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Fügt einen Schatten für Tiefe hinzu */
    width: 60%;
    padding: 16px; /* Innerer Abstand */
    margin: 16px; /* Äußerer Abstand zwischen Karten */
    border-radius: 8px; /* Abgerundete Ecken für eine weichere Optik */
    background-color: white; /* Hintergrundfarbe */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Weiche Übergänge für Interaktionen */
}

.card:hover {
    transform: translateY(-5px); /* Leichtes Anheben der Karte beim Hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Stärkerer Schatten beim Hover */
}
